/* ? Start Gloabl Rules */
:root {
  --main-color: #2196f3 ;
  --main-color-alt: #1787e0;
}
body {
  font-family: 'Cairo', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/** Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/** Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/** Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ? End Gloabl Rules */


/* ? Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd ;
  -moz-box-shadow: 0 0 10px #ddd ;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  
}


/* ? End Header */